project:
  type: website
  output-dir: docs
  resources:
    - "www/"
    - "www/images"

website:
  title: "KotterCode"
  favicon: /www/images/logo.png
  repo-url: https://daniellekotter.github.io/website-dani/
  search:
    location: navbar
    type: overlay
  navbar:
    logo: /www/images/logo.png
    toggle-position: right
    right:
      - text: "Home"
        href: index.qmd
      - text: About
        file: content/about/index.qmd
      - text: CV
        menu:
          - text: Curricilum Vitae
            file: /www/cv.pdf
            target: _blank
          - text: LinkedIn
            href: https://nl.linkedin.com/in/dani%C3%ABlle-kotter
  
  page-navigation: true
  back-to-top-navigation: false

  page-footer:
    left: >-
      [![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](https://opensource.org/licenses/MIT) [![CC BY 4.0](https://img.shields.io/badge/License-CC%20BY%204.0-lightgrey.svg)](http://creativecommons.org/licenses/by/4.0/) 
      © 2024, Daniëlle Kotter
    right:
      - icon: house
        href: https://daniellekotter.github.io/website-dani
      - icon: github
        href: https://github.com/daniellekotter
      - icon: linkedin
        href: https://nl.linkedin.com/in/dani%C3%ABlle-kotter

language: 
  search-text-placeholder: Search

format:
  html:
    theme: [flatly, theme.scss]
    css:
      - styles.css
    toc: true
    grid:
      sidebar-width: 0px
      body-width: 1000px
      margin-width: 250px

execute:
  freeze: auto
