/*-- scss:defaults --*/
// Base document colors
$dani-lightblue: #87CEEB;
$dani-orange: #FFC300;
$dani-green: #45503b;
$dani-red: #f6511d;
$dani-blue: #0d2c54;
$dani-grey: #747572;
$primary: $dani-orange;

// Override Bootstrap link color
$link-color: $dani-blue;
$link-hover-color: darken($dani-blue, 15%);

// Navbar
$navbar-bg: lighten($primary, 10%);

// Footer
$footer-bg: lighten($dani-blue, 30%);

/*-- scss:rules --*/
.navbar {
    background-color: $navbar-bg !important;
}

.navbar-logo {
    max-height: 100px;
    padding-right: 20px;
}
