/*-- scss:defaults --*/
$dani-blue: #87CEEB;
$dani-orange: #FFC300;
$primary: $dani-orange;
$body-bg: lighten($primary, 60%);
$body-color: darken($primary, 50%);

$navbar-bg: lighten($primary, 50%) !important;

// Footer
$footer-bg: lighten($primary, 50%);